.DS_Store

# python
/bin
/include
/lib
pyvenv.cfg

# api-app
/api-app/api-app/__pycache__
/api-app/rest/__pycache__
/api-app/rest/migrations/__pycache__

# front_app
/front-web/.DS_Store
/front-web/node_modules
/front-web//dist

#api-db
/api-db/data